.button-edit-story{
    background-color: #C9C9C9;
    width: 70px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

#integer{
    margin-top: 0px;
    padding-top: 12px;
}

.button-edit-story:hover{
    box-shadow: 5px 8px 8px rgba(82, 44, 187, 0.59);
}

#index-story{
    height: 66px;
    font-weight: bold;
}

#add-story{
    padding-top: 15px;
    padding-bottom: 15px;
}

.active{
    box-shadow: 5px 8px 8px rgba(82, 44, 187, 0.59);
}