<div *ngIf="!isAddBtn && !isActive" class="button-edit-story" id="index-story">
  <p id="integer">{{number.toString()}}</p>
</div>

<div *ngIf="isAddBtn" class="button-edit-story" id="add-story">
  <fa-icon [icon]="faPlus" size="1x"></fa-icon>
</div>

<div *ngIf="!isAddBtn && isActive" class="button-edit-story active" id="index-story">
  <p id="integer">{{number.toString()}}</p>
</div>

