.container {
    display: flex;
    flex-direction: row;
    background-color: #E1E1E1;
    padding: 12px 15px 12px 15px;
    border-radius: 6px;
    width: 250px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.container-response-letter{
    border-radius: 50%;
    background-color: white;
    padding: 6px;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 9px;
    color: black;
    margin-right: 20px;
}