.container-form{
    display: flex;
    width: 340px;
    height: 220px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.container-form p {
    font-weight: bold;
    color : black;
}

input[type=text]{
    background-color: #E9E4E4;
    border: 0;
    color: #777777;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 6px;
    width: 20   0px;
}

input[type=text]:focus{
    outline: none;
}