input[type=text]{
    background-color: #E9E4E4;
    border: 0;
    color: #777777;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 6px;
    width: 230px;
}

input[type=text]:focus{
    outline: none;
}