<div id="container-slider">
  <div>
    <app-title class="title-slider" [title]="title"></app-title>
  </div>
  <div class="slider">
    <app-slider [colorBar]="colorBar"></app-slider>
  </div>
</div>
