.slider{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

#container-slider{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
    align-items: center;
    padding: 15px;
}

.title-slider{
    margin: 10px 15px 10px 15px;
}
