<div class="profil" [matMenuTriggerFor]="userProfile">{{firstCharacter}}</div>
<mat-menu #userProfile="matMenu">
  <button mat-menu-item (click)="auth.login()" *ngIf="!auth.loggedIn">Connexion</button>
  <button mat-menu-item routerLink="user/profile" *ngIf="auth.loggedIn">Profil</button>
  <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">Deconnexion</button>
</mat-menu>
