.profil{
    border-radius: 50%;
    background-color: white;
    padding: 12px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 22px;
    color: #522cbb;
    font-weight: 600;
}

.profil:hover{
    cursor: pointer;
}