<div class="builder-container">
  <app-select-edit-story [stories]="stories"></app-select-edit-story>
  <app-select-component-story></app-select-component-story>
  <app-configure-story></app-configure-story>
  <app-player-video></app-player-video>
</div>