.name-workspace {
    padding: 4px 8px 4px 8px;
    transition: 0.1s;
    background-color: transparent;
    color: white;
}

.name-workspace:hover {
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}