<div class="container">
  <app-button-edit-story *ngFor="let story of stories; let i = index" [number]="i + 1" class="button-edit-story"></app-button-edit-story>
  <app-button-edit-story [isAddBtn]="true" (click)="addStory()" class="button-edit-story"></app-button-edit-story>
</div>
