.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 110px;
    height: 100%;
    background-color: #E6E6E6;
}
.button-edit-story {
    margin-top: 10px;
    margin-bottom: 10px;
}