.container-powered-by{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #522CBB;
    border-radius: 8px;
    width: 100px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}

span{
    color: white;
}

#powered{
    font-size: 8px;
}

#brand{
    font-size: 14px;
}