<div class="container">
    <div class="container-top-player">
        <app-progress-wrapper-player class="component" id="progress" [stories]="stories"></app-progress-wrapper-player>
        <app-header [img]="data.user.img" [name]="data.user.name"></app-header>
    </div>
    <app-content-player id="content-player" [stories]="stories" (storiesChange)="storiesChange($event)" ></app-content-player>
    <app-powered-by id="powered-by"></app-powered-by>
</div>
