<div long-press (onLongPress)="onLongPress()" (onLongPressEnd)="onLongPressEnd()" class="content" #storyContent
  (click)="clickEvent($event)">
  <video *ngIf="currentStory!==undefined && currentStory.type === typeVideo" width="100%" height="100%" autoplay="true" muted="false" #video>
    <source src={{currentStory.source}} type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
  </video>
  <img *ngIf="currentStory!==undefined && currentStory.type === typeImg" width="100%" height="100%" src={{currentStory.source}}>
</div>
