input {
  border-radius: 15px;
  height: 10px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

input::-webkit-slider-thumb {
  background: url('../../../../../assets/smile.svg');
  border-radius: 0;
  height: 27px;
  width: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .1s ease-in-out;
}

input::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}

.slider-container{
  padding-right: 15px;
  padding-left: 15px;
}
