.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

#logo{
    height: 25px;
    width: 25px;
    padding: 0px 10px 0px 10px;
    border-radius: 50%;
}

#name{
    font-size: 14px;
    color: #FDFDFD;
}