<div class="top-bar">
  <div class="left">
    <app-back></app-back>
    <app-name-workspace [name]="nameWorkspace"></app-name-workspace>
  </div>
  <div class="center">
    <app-action-top *ngFor="let actionTop of listActionTop" [action]="actionTop"></app-action-top>
  </div>
  <div class="right">
    <app-preview-button></app-preview-button>
    <app-profil id="profil-component" [name]="nameUser"></app-profil>
  </div>
</div>
