.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: #522CBB;
    height: 70px;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
}

#profil-component{
    margin: 0px 20px 0px 40px;
}

app-action-top{
    padding: 0px 10px 0px 10px;
}

app-back{
    margin: 0px 10px 0px 15px;
}