<a *ngIf="action.active" href="#" class="buttonAction" id="buttonActionActive">{{action.name}}</a>
<a *ngIf="!action.active" href="#" class="buttonAction" id="buttonActionInactive">{{action.name}}</a>
