.buttonAction {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	padding:0px 0px 2px 0px;
    text-decoration:none;
    text-transform: uppercase;
    color:white;
	text-align: center;
	letter-spacing: 1px;

}

#buttonActionActive {
	border-bottom:2px solid white;
}

#buttonActionInactive{
    transition: 0.2s;
}
#buttonActionInactive:hover {
    border-bottom:2px solid white;
}

