.container-button {
    width: 300px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.button{
    padding: 15px 6px 15px 6px;
    width: 220px;
    border-radius: 6px;
    text-align: center;   
}
