.preview-button {
    padding: 6px 6px 6px 6px;
    background-color: white;
    margin: 2px 2px 2px 2px;
    width: 28px;
    border-radius: 6px;
    text-align: center;
}

.preview-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

fa-icon {
    color: #522CBB;
}