.container-component{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #F5F5F5;
    border-left: 2px solid #C9C9C9;
    border-right: 2px solid #C9C9C9;
}

.container-button {
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button{
    padding: 10px 6px 10px 6px;
    width: 100px;
    border-radius: 6px;
    text-align: center;   
    font-weight: bold;
    cursor: pointer;
}

.container-position {
    display: flex;
    width: 340px;
    height: 160px;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-position p {
    color:black;
    font-weight: bold;
}



::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #522CBB;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #522CBB;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #522CBB;
} 