<div class="container-component">
    <app-config-button-storyshare [component_data]="component_data" *ngIf="component_data.type=='button'"></app-config-button-storyshare>
    <app-config-countdown-storyshare [component_data]="component_data" *ngIf="component_data.type=='countdown'"></app-config-countdown-storyshare>
    <app-config-input-storyshare [component_data]="component_data" *ngIf="component_data.type=='input'"></app-config-input-storyshare>
    <app-config-multiple-choice [component_data]="component_data" *ngIf="component_data.type=='multiple'"></app-config-multiple-choice>
    <app-config-slider-storyshare [component_data]="component_data" *ngIf="component_data.type=='slider'"></app-config-slider-storyshare>
    <app-config-utils-storyshare [component_data]="component_data" *ngIf="component_data.type=='utils'"></app-config-utils-storyshare>

  <div class="container-position">
    <p>Position X</p>
    <p>Position Y</p>
    <p>Rotation</p>
    <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" [value]="component_data.positionX" min="1" max="100" [(ngModel)]="component_data.positionX"></mat-slider>
    <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" [value]="component_data.positionY" min="1" max="200" [(ngModel)]="component_data.positionY"></mat-slider>
    <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" [value]="component_data.rotation" min="1" max="360" [(ngModel)]="component_data.rotation"></mat-slider>
  </div>

  <div class="container-button">
      <div [style.backgroundColor]="buttonSaveContext.colorBackgroundButtonSave" class="button">
        <span [style.color]="buttonSaveContext.fontColor">{{buttonSaveContext.titleButtonSave}}</span>
      </div>
  </div>    
</div>