<div id="container-multiple-choice">
  <div>
    <app-title class="title-multiple-choice" [title]="question.question"></app-title>
  </div>
  <div class="multiple-choice">
    <app-choice *ngFor="let item of question.answers; let i = index" [position]="i" [answer]="item.answer"></app-choice>
  </div>
</div>
