.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #F5F5F5;
}

.component{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.component:hover{
    background-color: rgba(158, 126, 247, 0.26);
}