<div class="container">
  <div class="component">
    <app-slider-storyshare [title] = "titleSlider" [colorBar] = "colorBar"></app-slider-storyshare>
  </div>
  <div class="component">
    <app-countdown-storyshare [title]="titleCountdown" [colorFont]="colorFontCountdown" [colorBackground]="colorBar"></app-countdown-storyshare>
  </div>
  <div class="component">
    <app-button-storyshare [backgroundColor]="colorBar" [fontColor]="colorFontCountdown" [title]="titleButton"></app-button-storyshare>
  </div>
  <div class="component">
    <app-multiple-choice [question]="question"></app-multiple-choice>
  </div>
  <div class="component">
    <app-input-storyshare [title]="titleInput"></app-input-storyshare>
  </div>
</div>