.countdown{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#container-countdown{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
    align-items: center;
    padding: 15px;
}

.title-countdown{
    margin: 10px 15px 10px 15px;
}

.colon {
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #B3B3B3;
}

.title-unit {
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
    color: #B3B3B3;
}

.container-unit{
    display: flex;
    flex-direction: column;
    align-content: center;
}