<div id="container-countdown">
  <div>
    <app-title class="title-countdown" [title]="title"></app-title>
  </div>
  <div class="countdown">
    <div class="container-unit">
      <app-countdown [time]="_days" [colorFont]="colorFont" [colorBackground]="colorBackground"></app-countdown>
      <span class="title-unit">Days</span>
    </div>
    <span class="colon">:</span>
    <div class="container-unit">
      <app-countdown [time]="_hours" [colorFont]="colorFont" [colorBackground]="colorBackground"></app-countdown>
      <span class="title-unit">Hours</span>
    </div>
    <span class="colon">:</span>
    <div class="container-unit">
      <app-countdown [time]="_minutes" [colorFont]="colorFont" [colorBackground]="colorBackground"></app-countdown>
      <span class="title-unit">Minutes</span>
    </div>
    <span class="colon">:</span>
    <div class="container-unit">
      <app-countdown [time]="_seconds" [colorFont]="colorFont" [colorBackground]="colorBackground"></app-countdown>
      <span class="title-unit">Seconds</span>
    </div>
  </div>
</div>

